#Configuration file for Android tests
#Configure before running tests
Url=http://127.0.0.1:4723/wd/hub
appPath=C:\\Selendroid\\zclient-release-2010.apk
package=com.waz.zclient
activity=.StartupScreenActivity
generateUsers=true