#Configuration file for Android tests
#Configure before running tests
Url=http://127.0.0.1:4723/wd/hub
#Url=http://192.168.178.44:4723/wd/hub
#appPath=/Project/zclient.apk
appPath=C:\\Selendroid\\zclient-release-57.apk
package=com.waz.zclient
activity=.StartupScreenActivity
generateUsers=true
driverTimeoutSeconds=10