#Configuration file for Android tests
#Configure before running tests
Url=${Url}
appPath=${appPath}
package=${package}
activity=${activity}
generateUsers=${generateUsers}
driverTimeoutSeconds=${driverTimeoutSeconds}
resultImage=${resultImage}
defaultImagePath=${Root}/${defaultImagePath}
defaultImagesPath=${Root}/${defaultImagesPath}
pictureResultsPath=${pictureResultsPath}
