*.metadata
*.prefs
*.pyc
tests/tools/javadoc-exporter/bin
tests/tools/javadoc-exporter/target
*.log*
.DS_Store
tests/common/bin/*
tests/webapp/bin/*
tests/webapp/nbactions.xml
tests/tools/jenkins_controller/.idea
customBackend.json

