#Configuration file for OS X tests
#Configure before running tests
Url=http://127.0.0.1:4622/wd/hub
appPath=ZClient
generateUsers=true
driverTimeoutSeconds=10
pictureResultsPath=/Users/julianereschke/ZETA_Run_Screens/
