#Configuration file for OS X tests
#Configure before running tests
Url=${Url}
appPath=${appPath}
generateUsers=${generateUsers}
driverTimeoutSeconds=${driverTimeoutSeconds}
pictureResultsPath=${pictureResultsPath}
defaultEmail=${defaultEmail}
