#Configuration file for OS X tests
#Configure before running tests
osxAppiumUrl=${Url}
osxApplicationPath=${appPath}
generateUsers=${generateUsers}
driverTimeoutSeconds=${driverTimeoutSeconds}
pictureResultsPath=${pictureResultsPath}
defaultEmail=${defaultEmail}
