<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository/>
    <interactiveMode/>
    <usePluginRegistry/>
    <offline/>
    <pluginGroups/>
    <servers/>
    <mirrors/>
    <proxies/>
    <profiles>
        <!-- Config for Webapp tests -->
        <profile>
            <id>WebApp</id>
            <properties>
                <com.wire.os.name>mac</com.wire.os.name>
                <com.wire.os.version></com.wire.os.version>
                <com.wire.browser.name>chrome</com.wire.browser.name>
                <com.wire.browser.version>48.0</com.wire.browser.version>
                <backendType>gregor</backendType>
                <hubHost>127.0.0.1</hubHost>
                <hubPort>4444</hubPort>
                <url>http://127.0.0.1:4444/wd/hub</url>
                <!--<url>http://192.168.10.221:5555/wd/hub</url>-->
                <!--<pictureResultsPath>/Users/mkoppen/Downloads/tests</pictureResultsPath>-->
                <extendedLoggingLevel>ALL</extendedLoggingLevel>
            </properties>
        </profile>
        <!-- Config for iOS/Tablet tests -->
        <profile>
            <id>iOS</id>
            <properties>
                <appPath>/Users/elf/Downloads/Wire-development-simulator-3377.ipa</appPath>
                <platformVersion>9.2</platformVersion>
                <useNativeInstrumentsLib>false</useNativeInstrumentsLib>
            </properties>
        </profile>
        <!-- Config for Android/Tablet tests -->
        <profile>
            <id>Android</id>
            <properties>
                <appPath>/Users/elf/Downloads/4164.apk</appPath>
                <!--package>com.wire.candidate</package-->
                <androidVersion>50</androidVersion>
            </properties>
        </profile>
        <!-- Config for Common library -->
        <profile>
            <id>Common</id>
            <properties>
                <makeScreenshots>false</makeScreenshots>
                <defaultCallingServicePort>29443</defaultCallingServicePort>
            </properties>
        </profile>
    </profiles>
    <activeProfiles/>
</settings>