<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>
  <pluginGroups/>
  <servers/>
  <mirrors/>
  <proxies/>
    <profiles>
    <!-- Config for iOS tests -->
    <profile>
      <id>iOS</id>
      <properties>
	<Root>/Users/shiznyak/zautomation/tests/tools/</Root>
	<Url>http://127.0.0.1:4723/wd/hub</Url>
        <appPath>/Users/shiznyak/Downloads/ZClient.app</appPath>
	<isSimulator>true</isSimulator>
	<generateUsers>true</generateUsers>
	<swipeScriptPath>swipeInWindow</swipeScriptPath> <!-- no need to change -->
	<pathToUserpic>img/userpicture_landscape.jpg</pathToUserpic> <!-- no need to change -->
	<driverTimeoutSeconds>10</driverTimeoutSeconds>
	<pictureResultsPath>/Users/shiznyak/Downloads/</pictureResultsPath>
	<iosImagesPath>img/</iosImagesPath> <!-- no need to change -->
      </properties>
    </profile>
    <!-- Config for Android tests -->
    <profile>
      <id>Android</id>
      <properties>
	<Root>/Users/shiznyak/zautomation/tests/tools/</Root>
        <Url>http://127.0.0.1:4723/wd/hub</Url>
        <appPath>/Users/shiznyak/Downloads/zclient-release.apk</appPath>
	<package>com.waz.zclient</package>
	<generateUsers>true</generateUsers>
	<activity>.MainActivity</activity>
	<driverTimeoutSeconds>10</driverTimeoutSeconds>
	<pictureResultsPath>/Users/shiznyak/Downloads/</pictureResultsPath>
	<resultImage>img/userpicture_mobile_check.jpg</resultImage> <!-- no need to change -->
	<defaultImagePath>img/userpicture.jpg</defaultImagePath> <!-- no need to change -->
      </properties>
    </profile>
    <!-- Config for OSX tests -->
    <profile>
      <id>OSX</id>
      <properties>
        <Url>http://127.0.0.1:4723/wd/hub</Url>
        <appPath>ZClient</appPath>
	<generateUsers>true</generateUsers>
	<driverTimeoutSeconds>10</driverTimeoutSeconds>
	<pictureResultsPath>/Users/kaleksandrov/ZETA_Run_Screens/</pictureResultsPath>
      </properties>
    </profile>
  </profiles>
  <activeProfiles/>
</settings>