#Configuration file for WebApp tests
#Configure before running tests
webappAppiumUrl=${url}
webappApplicationPath=https://app.wire.com/login.html?env=${backendType}
driverTimeoutSeconds=${driverTimeoutSeconds}
defaultEmail=${defaultEmail}
#chrome | firefox | ie | safari
browserName=${browser}