#Configuration file for Sync Engine tests

### DERIVED PARAMS ###
driverTimeoutSeconds=${driverTimeoutSeconds}
defaultEmail=${defaultEmail}
pictureResultsPath=${pictureResultsPath}

### ACCEPTANCE TEST PARAMS ###
acceptance.messages.count=${acceptance.messages.count}
acceptance.sending.timeout.sec=${acceptance.sending.timeout.sec}
acceptance.max.send.interval.sec=${acceptance.max.send.interval.sec}
acceptance.parallel.mode=${acceptance.parallel.mode}
acceptance.report.path=${acceptance.report.path}

### COMMON CONFIG ###
common.generate.users=${common.generate.users}
common.same.user=${common.same.user}

### OSX CONFIG ###
osx.client.enabled=${osx.client.enabled}
osx.backend.sender=${osx.backend.sender}
osxAppiumUrl=${osxAppiumUrl}
osxApplicationPath=${osxApplicationPath}
osxClientInfoPlist=${osxClientInfoPlist}

### ANDROID CONFIG ###
android.client.enabled=${android.client.enabled}
android.backend.sender=${android.backend.sender}
androidAppiumUrl=${androidAppiumUrl}
androidApplicationPath=${androidApplicationPath}
package=${package}
activity=${activity}
resultImage=${resultImage}
defaultImagePath=${Root}/${defaultImagePath}
defaultImagesPath=${Root}/${defaultImagesPath}
androidClientInfoPath=${androidClientInfoPath}
androidAppiumLogPath=${androidAppiumLogPath}
androidVersion=${androidVersion}

### IOS CONFIG ###
ios.client.enabled=${ios.client.enabled}
ios.backend.sender=${ios.backend.sender}
iosAppiumUrl=${iosAppiumUrl}
iosApplicationPath=${iosApplicationPath}
isSimulator=${isSimulator}
swipeScriptPath=${swipeScriptPath}
pathToUserpic=${Root}/${pathToUserpic}
iosClientInfoPlist=${iosClientInfoPlist}
iosAppiumLogPath=${iosAppiumLogPath}
iosImagesPath=${Root}/${iosImagesPath}
deviceName=${deviceName}