#Common configuration file
defaultEmail=smoketester@wearezeta.com
defaultPassword=aqa123456
defaultEmailServer=imap.gmail.com
edgeBackendUrl=https://edge-nginz-https.zinfra.io
stagingBackendUrl=https://staging-nginz-https.zinfra.io
productionBackendUrl=https://prod-nginz-https.wire.com
jenkinsSuLogin=jenkins
jenkinsSuPassword=123456
jenkinsProjectDir=/Project/
defaultCallingServiceHost=${defaultCallingServiceHost}
defaultCallingServicePort=${defaultCallingServicePort}
mailboxHandlerType=${mailboxHandlerType}
defaultEmailListenerServiceHost=${defaultEmailListenerServiceHost}
defaultEmailListenerServicePort=${defaultEmailListenerServicePort}