#Common configuration file
defaultEmail=smoketester@wearezeta.com
defaultPassword=aqa123456
defaultEmailServer=imap.gmail.com
defaultBackEndUrl=https://staging-nginz-https.zinfra.io
#staging, production, edge
backendType=staging
jenkinsSuLogin=jenkins
jenkinsSuPassword=123456
