#Common configuration file
defaultEmail=smoketester@wearezeta.com
defaultPassword=aqa123456
defaultEmailServer=imap.gmail.com
defaultBackEndUrl=https://staging-nginz-https.zinfra.io
#staging, production, edge
backendType=${backendType}
jenkinsSuLogin=jenkins
jenkinsSuPassword=123456
jenkinsProjectDir=/Project/
defaultCallingServiceHost=${defaultCallingServiceHost}
defaultCallingServicePort=${defaultCallingServicePort}
mailboxHandlerType=${mailboxHandlerType}
defaultEmailListenerServiceHost=${defaultEmailListenerServiceHost}
defaultEmailListenerServicePort=${defaultEmailListenerServicePort}