androidAppiumUrl=${url}
androidApplicationPath=${appPath}
package=${package}
activity=${activity}
waitActivities=${waitActivities}
driverTimeoutSeconds=${driverTimeoutSeconds}
resultImage=${resultImage}
defaultImagesPath=${project.build.directory}/../../tools/img/
pictureResultsPath=${pictureResultsPath}
androidClientInfoPath=${androidClientInfoPath}
androidAppiumLogPath=${androidAppiumLogPath}
defaultEmail=${defaultEmail}
androidVersion=${androidVersion}
resourceFilePath=${resourceFilePath}
resultsPath=${resultsPath}
backendType=${backendType}
otrOnly=${otrOnly}
androidToolsPath=${androidToolsPath}
isTablet=true
rcNotificationsRecepients=${rcNotificationsRecepients}
testrailUser=smoketester+android@wire.com
testrailToken=vkEghsfuhYUqLIp66IZK-sH18RTPdYL.rtoQHtisa
adbPrefix=${adbPrefix}