androidAppiumUrl=${url}
androidApplicationPath=${appPath}
package=${package}
activity=${activity}
waitActivities=${waitActivities}
generateUsers=${generateUsers}
driverTimeoutSeconds=${driverTimeoutSeconds}
resultImage=${resultImage}
defaultImagesPath=${project.build.directory}/../../tools/img/
pictureResultsPath=${pictureResultsPath}
androidClientInfoPath=${androidClientInfoPath}
androidAppiumLogPath=${androidAppiumLogPath}
defaultEmail=${defaultEmail}
androidVersion=${androidVersion}
resourceFilePath=${resourceFilePath}
resultsPath=${resultsPath}
backendType=${backendType}
isTablet=true
rcNotificationsRecepients=${rcNotificationsRecepients}