#Configuration file for IOS tests
#Configure before running tests
iosAppiumUrl=${Url}
iosApplicationPath=${appPath}
isSimulator=${isSimulator}
platformVersion=${platformVersion}
swipeScriptPath=${Root}/${swipeScriptPath}
pathToUserpic=${Root}/${pathToUserpic}
driverTimeoutSeconds=${driverTimeoutSeconds}
pictureResultsPath=${pictureResultsPath}
iosImagesPath=${Root}/${iosImagesPath}
iosClientInfoPlist=${iosClientInfoPlist}
defaultEmail=${defaultEmail}
deviceName=${deviceName}
backendType=${backendType}
pathToAddressBook=${Root}/${pathToAddressBook}
perfReportPath=${perfReportPath}
rcNotificationsRecepients=${rcNotificationsRecepients}
testrailUser=smoketester+ios@wire.com
testrailToken=3ss3NdlIsbkVZ/qjARyZ-t42ldIdkAFdZzbPgC3o0
