#Configuration file for IOS tests
#Configure before running tests
Url=${Url}
appPath=${appPath}
isSimulator=${isSimulator}
generateUsers=${generateUsers}
swipeScriptPath=${Root}/${swipeScriptPath}
pathToUserpic=${Root}/${pathToUserpic}
driverTimeoutSeconds=${driverTimeoutSeconds}
pictureResultsPath=${pictureResultsPath}
iosImagesPath=${Root}/${iosImagesPath}
