#Configuration file for IOS tests
#Configure before running tests
iosAppiumUrl=${Url}
iosApplicationPath=${appPath}
isSimulator=${isSimulator}
useNativeInstrumentsLib=${useNativeInstrumentsLib}
platformVersion=${platformVersion}
swipeScriptPathPrefix=${swipeScriptPathPrefix}
driverTimeoutSeconds=${driverTimeoutSeconds}
pictureResultsPath=${pictureResultsPath}
iosImagesPath=${iosImagesPath}
iosClientInfoPlist=${iosClientInfoPlist}
defaultEmail=${defaultEmail}
deviceName=${deviceName}
backendType=${backendType}
rcNotificationsRecepients=${rcNotificationsRecepients}
testrailUser=smoketester+ios@wire.com
testrailToken=3ss3NdlIsbkVZ/qjARyZ-t42ldIdkAFdZzbPgC3o0